body {
  background-color: rgb(8, 14, 22);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house {
  width: 500px;
  height: 420px;
  border: 5px solid lightgray;
  background: royalblue;
  position: relative;
}

.wall {
  position: absolute;
  width: 370px;
  height: 200px;
  border: 2px solid white;
  background: sienna;
  left: 65px;
  top: 220px;
}

.door {
  position: absolute;
  width: 100px;
  height: 140px;
  border: 2px solid white;
  background: burlywood;
  left: 35%;
  top: 29%;
}

.door-knob {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background: blue;
  top: 50%;
}

.roof-2 {
  position: absolute;
  width: 200px;
  height: 50px;
  border-bottom: 150px solid burlywood;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  left: 5%;
  bottom: 47%;
}

.window {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 30px;
  background: white;
  left: 35%;
  top: 180%;
}

.cloud {
  margin-top: 45px;
  width: 175px;
  height: 60px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
.cloud::after,
.cloud::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud::after {
  width: 50px;
  height: 50px;
  top: -110px;
  left: 25px;
}
.cloud::before {
  width: 90px;
  height: 90px;
  top: -35px;
  left: 65px;
}
