* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: goldenrod;
}

.navbar ul {
  display: inline-flex;
}

.navbar li {
  display: block;
  list-style: none;
}

.navbar a {
  display: block;
  font-size: 20px;
  padding: 10px 40px;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar a:hover {
  background-color: bisque;
  border-radius: 10px;
}
