*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.box {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 1s linear 1s;
}

.box:hover{
    /* transform: rotate(45deg); */
    /* transform: scale(0.5); */
    /* transform: scale(2); */
    /* transform: rotate(-45deg); */

    /* transform: skew(65deg); */

    transform: translate(50px, 300px); /* neagtive for opposite side*/
}