body {
  background-color: black;
}
img {
  border: 3px solid white;
  width: 100%;
}
h1,
p {
  color: rgb(234, 234, 234);
  text-align: center;
}
h1 {
  text-transform: uppercase;
}
div {
  width: 50%;
  margin-left: 25%;
}
